#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.welcome button {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 2rem;

  @media screen and (max-width: 540px) {
    font-size: 1rem;
  }
}

.welcome h1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 2rem;
  @media screen and (max-width: 540px) {
    font-size: 1rem;
  }
}

.ratingBtnGroup {
  width: 60vw;
}

.ratingBtnGroup button {
  padding: 0.5rem 1rem;
  @media screen and (max-width: 540px) {
    padding: 6px 5px;
  }
}

.navigation {
  margin: 1rem 0;
  width: 10rem;
}

.navigation button {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.confirmation h1 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 2rem;
  @media screen and (max-width: 540px) {
    font-size: 1rem;
  }
}

.confirmation button {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.confirmation {
  display: grid;
  place-items: center;
}